/* usado para informar que existem itens que irão recair sobre todo o HTML */
* {
    margin: 0;
    /* zerando as margen (button, right, top etc)*/

    padding: 0;
    /* zerando o preenchimento*/

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* habilitando buma fonte para toda a pagina*/

    list-style: none;
    /* removendo todos os estilos de listas*/
}

header {
    background-color: #2b2a2a;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 110px;
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #e6c746;
}

.sessão-001{
    background-color: #000000;
    padding: 130px;
    display: flex;
}

.história h1 {
    color: #e6c746;
    margin: 45px;
    font-size: 25px;
}

.história p{
    color: #ffffff;
    margin: 30px;
    font-size: 25px;
}

.rodape{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background-color: #000000;
}

.div-final img{
    width: 130px ;
}

.div-icons h2{
    color: #e6c746;
}

.div-icons i{
    padding:7px ;
    font-size:35px ;
}

.div-icons:hover{
    transition: 00.50s ease;
    transform: scale(1.3);
    color: #ffffff;
}

.div-icons a{
    text-decoration: none;
    color: #ffffff;
}

html{
    scroll-behavior: smooth;
}