/* usado para informar que existem itens que irão recair sobre todo o HTML */
*{
    margin: 0; /* zerando as margen (button, right, top etc)*/

    padding: 0; /* zerando o preenchimento*/

    font-family: Verdana, Geneva, Tahoma, sans-serif; /* habilitando buma fonte para toda a pagina*/

    list-style: none; /* removendo todos os estilos de listas*/
}

header{  /*chamamos nosso cabeçalho para estilização (header)*/
    background-color: #2b2a2a; /* habilitando uma cor de fundo*/
    padding: 30px; /* habilitando um preenchimento de 20 pixels no header*/
    display: flex; /* tornando os itens flexiveis (lado a lado)*/
    justify-content: space-around; /* justificando conforme a minha vontade*/
    align-items: center; /* deixando habilitado ao centro*/
}

header img{ /* chamando minha IMG para estilização*/
    width: 110px; /*largura da imagem */
    height: auto;/*altura da imagem */
}

header nav ul { /* chamando a lista não ordenada para estilização*/
    list-style: none; /* removendo todos os estilos de lista*/
    display: flex; /* tornando os itens flexiveis (lado a lado)*/
}

header nav ul li { /* chamamos nossa Lista (LI) para estilização*/

    margin-right: 10px; /* margen de 10 pixels para esoaçamento */
}

header nav ul li a { /* aqui chamamos nossa âncora (A) para estilização*/
    text-decoration: none; /* tirando o sublinhado das ancôras */
    color: #e6c746; /*colocando uma cor para as ancôras*/
}

.sessão-01{
    padding: 130px; /* preenchimento da imagem para tela*/
    background-color: #000000;  /* cor do fundo*/   
    display: flex; /* tornando a sessão flexivel*/
    
}

.div-iframe iframe{ 
    border-radius: 10px; /* arredondar as bordas*/
}

.div-subtitulo h2{
    color: #e6c746; /* cpr do titulo*/
    margin: 45px; /* respiro do titulo*/
    font-size: 25px; /* peso da letra */
}

.div-subtitulo p{
    color: #ffffff; /* cor do paragrafo */
    margin: 35px; /* respiro do paragrafo*/
    font-size: 20px; /* peso da letra*/
}


.sessão-02 {
    padding: 150px; /* preenchiento da tela*/
    background-color: #000000; /* cor do fundo*/
}


.sessão-02 h2{
    font-size: 30px; /* tamanho da letra*/
    font-weight: 15px; /* peso da letra*/
    text-align: center; /* centro dos objetos*/
    color: #e6c746; /* cor das letras*/
    margin-bottom: 15px; /* respiro*/
}

.sessão-02 tr{
    background-color: #000000; /* cor da tabela*/
    color:#e6c746; /* cor das letras*/
    
    
}

table th{
    padding: 8px; /* preenchimento das bordas*/
}

table td{
    font-size: 25px; /*tamanho das letras */
    font-weight: 25px; /* peso das letras*/
    text-align: center; /*centralizando os objetos */
    margin-bottom: 15px; /* respiro */
   

}





.rodape{
    display: flex; /* tornando o item flexivel*/
    justify-content: space-evenly; /* justificando o rodape do meu gosto*/
    align-items: center;  /*centralizando os itens*/
    padding: 25px; /*preenchimento da tela */
    background-color: #000000; /* cor de fundo*/
}

.div-final img{
    width: 130px; /* tamanho da imagem*/
}

.div-icons h2{  
    color: #e6c746; /* cor do título dos icones*/
}

.div-icons i{
  padding: 7px; /* preenchimento da tela */
  font-size: 35px; /* tamanho da letra*/
}

.div-icons i:hover{
    transition: 00.50s ease;  /*transição de efeito*/
    transform: scale(1.3); /* transformação de efeito*/
    color: #ffffff; /* cor do efeito*/
}

.div-icons a{
    text-decoration: none; /*retirando os hiperlinks dos icones*/
    color: #ffffff; /*cor do icone*/
}

html{
    scroll-behavior: smooth; /*esqueci*/
}